/* styles.scss dogs-desktop */
@media (max-width: 1100px) {
  #wrap-header {
    width: 40% !important; } }

body {
  background-color: #e3e3e3;
  color: #f9f9f9;
  line-height: 1.5;
  margin: 0 auto;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

header {
  background-image: url("../../images/7.jpg");
  background-position: 0 10px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-width: 700px;
  height: 300px; }
  header #top-bar {
    background: #444444;
    /* Old browsers */
    background: -moz-linear-gradient(top, #444444 0%, #272727 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #444444 0%, #272727 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #444444 0%, #272727 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$gradientTopBar01, endColorstr=$gradientTopBar02,GradientType=0 );
    /* IE6-9 */
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%; }
    header #top-bar p {
      padding: 8px 0;
      margin-top: 0px; }
  header h1 {
    float: left;
    font-size: 54px;
    color: black;
    font-style: italic;
    padding: 2px;
    margin-bottom: 10px;
    line-height: 70px; }
  header #wrap-header {
    width: 35%; }

.container {
  width: 70%;
  margin: 0 auto;
  min-width: 700px; }

a {
  text-decoration: none; }

.strong {
  font-weight: bold;
  font-size: 12px; }

.btn {
  border-radius: 6px;
  display: inline;
  padding: 10px 50px;
  font-size: 16px;
  cursor: pointer; }

.btn-login {
  color: #4f3e5e;
  background-color: transparent;
  border: 2px solid #4f3e5e;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4); }

.btn-signup {
  color: white;
  background-color: #8560a8;
  border: 2px solid #4f3e5e;
  background-color: rgba(133, 96, 168, 0.6);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4); }

.spacer-md, .spacer-md-true {
  margin-top: 20px; }

.spacer-lg {
  margin-top: 40px; }

.clear-sm {
  margin-bottom: 20px; }

.clear-md {
  margin-bottom: 40px; }

.paddingtop-30 {
  padding-top: 30px; }

.paddingtop-15 {
  padding-top: 15px; }

.col-0, .col-1, .col-2, .col-3, .col-4, .col-5 {
  float: left; }

.col-0 {
  width: 14.5% !important; }

.col-1, .col-2 {
  width: 31% !important;
  margin-left: 2%; }

.col-3, .col-4 {
  width: 31% !important;
  margin-left: 2%; }

.col-5 {
  width: 14.5% !important;
  margin-left: 2%; }

.fontsize13 {
  font-size: 13px; }

section article {
  color: black;
  float: left;
  background-color: white;
  -webkit-box-shadow: 3px 3px 5px 0px #c2c2c2;
  -moz-box-shadow: 3px 3px 5px 0px #c2c2c2;
  box-shadow: 3px 3px 5px 0px #c2c2c2; }
  section article img {
    max-width: 100%;
    max-height: 100%; }
  section article .content-dog-info {
    text-align: center;
    float: left; }
  section article p {
    margin: 0px;
    padding: 0px;
    line-height: 13px; }
  section article .btn-dog {
    background-color: #f6e065;
    border: 2px solid #bfa519;
    color: black;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    padding: 5px 30px; }

section article.wrapper-dog-v {
  width: 100%;
  height: 320px;
  text-align: center; }
  section article.wrapper-dog-v .content-dog-img {
    height: 50%;
    width: 95%;
    float: left; }
  section article.wrapper-dog-v .content-dog-info {
    width: 100%; }

section article.wrapper-dog-h {
  width: 100%;
  height: 150px; }
  section article.wrapper-dog-h .content-dog-img {
    float: left;
    height: 100%;
    width: 40%;
    text-align: right; }
  section article.wrapper-dog-h .content-dog-info {
    width: 60%; }

section .marginleft-25 {
  margin-left: 25px; }
